.dino_game {
  width: 100%;
  border-bottom: 4px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}
.gameOver {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  display: none;
}
.dino {
  width: 150px;
  transform: translateY(40px) scaleX(-1);
}
.dino.move {
  animation: jump 0.8s forwards;
}
.cactus {
  width: 80px;
  transform: translate(100px, 40px);
}
.cactus.move {
  animation: cactus 3s linear infinite;
}
@keyframes jump {
  0% {
    transform: translateY(40px) scaleX(-1);
    animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(-150px) scaleX(-1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: translateY(40px) scaleX(-1);
  }
}
@keyframes cactus {
  0% {
    transform: translate(100px, 40px);
  }
  100% {
    transform: translate(calc(-100vw - 100px), 40px);
  }
}
